## Pasted from gitignore.io

## Environment-specific items

# Linux/Unix specific temporary files
.nfs*

# macOS specific system files
.DS_Store
.AppleDouble
__MACOSX

# Windows specific system files
Desktop.ini

# Editor and IDE specific temporary or configuration files
*.swp
*.swo
.idea/
.vscode/

## Generic items

# env file
*.env*
!*.env*.template

# credentials
admin.json
*-*-firebase-adminsdk-*-*.json

# log
*.log

# back up
*.bak

# temp
*.tmp

# todo
TODO.md

# memo
memo.md

## Docker-related items

# volumes
/services/db/data/
ssl/

## Project-specific items

# ライブラリなどリポジトリに含める必要のないディレクトリ
.gradle
.kotlin

# デバッグ時のファイル

# 成果データ
build

# asset directory

# upload directory
# 画像保存ディレクトリ全体を除外
Upload/
Upload/**/*

# ただし .gitkeep ファイルは追跡対象として残す
!upload/**/.gitkeep

## Others items

# empty directory
!.gitignore
